@import "../../variables.scss";

.TopBar {

	&>div:first-child {
		display: flex;
		justify-content: flex-end;
		padding-top: 5px;
		padding-right: 25px;
	}


}

.DialogContent {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;

	>input {
		width: 95%;
		height: 35px;
		border-radius: 3px;
		border: 1px solid gray;
		outline: none;
		padding: 0 10px;

	}
}

.Actions {
	display: flex;
	justify-content: space-between;
	padding: 25px;

	&>div {
		display: flex;
		gap: 5px;
	}
}

.Filter {
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border: none;
	border-radius: 5px;
	padding: 5px;
	background-color: $gray;
}

.ActionBtns {
	width: 100px;

	background-color: $gray;
}
